body {
    background-color: pink;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

article {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

h2 {
    margin: 0;
}
